<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if info['previous'] != None %}
                <li class="page-item">
                    <a class="page-link" href="{{path}}?page={{info['previous']}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="#">...</a></li>
    
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
    
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            
            {% if info['next'] != None %}
                <li class="page-item">
                    <a class="page-link" href="{{path}}?page={{info['next']}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
                
        
        </ul>
    </nav>
</div>