
<ul class="nav justify-content-center">
    {% if path != '/' %}
        <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
        </li>
    {% endif %}
    {% if path != '/' %}
        <li class="nav-item">
        <a class="nav-link" href="{{up}}">Up Dir</a>
        </li>
    {% endif %}
    
    <li class="nav-item">
      <a class="nav-link" href="#">New Dir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Update File</a>
    </li>
  </ul>

