a:hover  {
    text-decoration: none !important;
}
img{
    display:block;
    margin:auto;
}
.navtop {
  padding: 1rem 0rem;
  font-size: 1.7rem;
}
.container-media {
    max-width: 80hw;
    height: 80hw !important;
    align-items: center;
}

.dir {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.card {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}
.card:hover {
    border: -2px solid;
    border-color: #007bff;
}

@media(max-width: 750px) {
    .card {
        margin-bottom: 0.75rem !important;
    }
    .navtop {
        font-size: 1.2rem;
    }
}
@media(max-width: 600px){
    .main-box {
        justify-content: center;
    }
}