{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        
    {% include "components/top_nav.html" %}
    
    <div class="container text-center">
        <div>
            
            {% if path != '/' %}
                <h3 class="display-4">{{title}}</h3>
            {% endif %}
            
        </div>
        <div class="list-group">
            
            {% for element in data %}

            {% if element[2] == 'dir' %}
                <a href="/storage/{{path}}/{{element[1]}}">
                    <button class="btn btn-outline-primary btn-lg btn-block mb-3 dir">
                        &#x1F4C1; {{ element[1] }}
                    </button>
                </a>
            {% endif %}    
            {% endfor %}
        </div>
        
        <div class="d-flex justify-content-sm-around flex-wrap main-box">
            {% for element in data %}
                {% if element[2] == 'file' %}
                <a href="/storage/{{path}}/{{element[1]}}">
                    <div class="card mb-md-3"  style="width: 20rem;">
                        {% if  element[3] == 'image' %}
                            <img src="/file/{{path}}/{{element[1]}}" class="card-img-top" alt="...">    
                        {% else %}
                            <span style="font-size: 3.5rem;">{{img[element[3]]}}</span>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text text-center strong">{{element[1]}}</p>
                        </div>
                    </div>                         
                </a>
                {% endif %}
            {% endfor %}
        </div>  
    </div>

    {% if info['finally'] > 0 %}
        <br>
        {% include 'components/pagination.html' %}
    {% endif %}
    
    {% endblock %}
